/* table{
    margin-left: 600px;
    font-size: xx-large;
    font-style: italic;
    text-align: center; 
    width: 700px;
   
}
tr{
    background-color: cornflowerblue;
}
#title{
    font-style: italic;
    color: darkcyan;
    font-size: 70px;
    text-align: center;
} */
