p{
    color: rgb(5, 5, 5);    
    font-size: xx-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style:oblique;
    text-align: center;
}

#firstInput{
    margin-left: 520px;
    
}